@font-face {
    font-family: "nexonLv2";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nexonLv2/nexonLv2-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nexonLv2/nexonLv2-Light.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nexonLv2/nexonLv2-Light.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nexonLv2/nexonLv2-Light.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nexonLv2/nexonLv2-Light.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "nexonLv2";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nexonLv2/nexonLv2-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nexonLv2/nexonLv2-Regular.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nexonLv2/nexonLv2-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nexonLv2/nexonLv2-Regular.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nexonLv2/nexonLv2-Regular.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "nexonLv2";
    font-weight: 500;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nexonLv2/nexonLv2-Medium.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nexonLv2/nexonLv2-Medium.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nexonLv2/nexonLv2-Medium.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nexonLv2/nexonLv2-Medium.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nexonLv2/nexonLv2-Medium.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "nexonLv2";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nexonLv2/nexonLv2-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nexonLv2/nexonLv2-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nexonLv2/nexonLv2-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nexonLv2/nexonLv2-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nexonLv2/nexonLv2-Bold.ttf") format("truetype");
    font-display: swap;
} 
.nexonLv2 {
    font-family: "nexonLv2";
}
.nexonLv2300 {
    font-family: "nexonLv2";
    font-weight: 300;
}
.nexonLv2400 {
    font-family: "nexonLv2";
    font-weight: 400;
}
.nexonLv2500 {
    font-family: "nexonLv2";
    font-weight: 500;
}
.nexonLv2700 {
    font-family: "nexonLv2";
    font-weight: 700;
}